/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul [class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Our code */

html {
  font-family: nyt-franklin, "helvetica", "arial", sans-serif;
  font-size: 65%;
  height: auto;
}

@font-face {
  font-family: newyork;
  src: url(assets/fonts/Chomsky.woff);
}

html,
body {
  overflow: auto;
}

ul li {
  list-style: none;
  text-decoration: none;
}

header {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  z-index: 1;
}

nav {
  background-color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4) 0 0 0 5px 1px;
  height: 46px;
  border-bottom: 1px solid lightgray;
}

#nav {
  margin: 0 auto;
  max-width: 1605px;
  background: transparent;
  border-bottom: 0;
  padding: 4px 15px 2px;
}

.left_nav {
  float: left;
  margin-top: -19px !important;
}

#ny_logo {
  text-align: center;
  font-family: newyork, sans-serif;
  font-weight: 600;
}

.right_nav {
  float: right;
  margin-top: -21px !important;
}

nav li {
  list-style: none;
  display: inline;
}

.button {
  cursor: pointer;
  border-radius: 3px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  vertical-align: middle;
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 11px 12px 8px;
}

button:hover {
  border: 1px solid #326891;
  background-color: #326891;
}

.li_space {
  line-height: 20px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.space_and_cosmos{
  color: ;
}

.space_and_cosmos:hover {
text-decoration: underline;
}